<header class="header">
  <nav class="header__nav">
    <a href="/" class="header__logo">
      <img src="/images/logo.png" alt="Logo" />
    </a>
    <ul class="header__nav-links">
      <li class="header__nav-item">
        <a
          href="/"
          class="header__nav-link <%= page === '/' ? 'header__nav-link--active underline-spacing': '' %>"
          >Home</a
        >
      </li>
      <li class="header__nav-item">
        <a
          href="/catalog"
          class="header__nav-link <%= page === '/catalog' ? 'header__nav-link--active underline-spacing' : '' %>"
          >Catalog</a
        >
      </li>
      <% if(isAdmin) { %>
      <li class="header__nav-item">
        <a
          href="/add-book"
          class="header__nav-link <%= page === '/add-book' ? 'header__nav-link--active underline-spacing' : '' %>"
          >Add Book</a
        >
      </li>
      <% } %> <% if(isAuth) { %>
      <div class="header__name-dropdown">
        <button class="header__name"><%= user.fullName %></button>
        <div class="header__name-dropdown-content">
          <a href="/logout">Logout</a>
        </div>
      </div>
      <% } else { %>
      <li class="header__nav-item">
        <a
          href="/login"
          class="header__nav-link <%= page === '/login' ? 'header__nav-link--active' : '' %>"
          >Login</a
        >
      </li>
      <% } %>
    </ul>
  </nav>
</header>
