<div class="book">
  <img
    class="book__cover"
    alt="Cover of <%= book.title %>"
    src="<%= book.imageUrl %>"
  />
  <div class="book__details">
    <h2 class="book__title"><%= book.title %></h2>
    <p class="book__author"><%= book.author %></p>

    <p class="book__description"><%= book.description %></p>
    <!-- new -->
  </div>

  <div class="book__related">
    <% if (relatedBooks.length) { %>
    <h2 class="book__related-title">Related Books</h2>
    <div class="book__related-container">
      <% relatedBooks.forEach((relatedBook) => { %>
      <div class="book__related-item">
        <img
          class="book__related-cover"
          alt="Cover of <%= relatedBook.title %>"
          src="<%= relatedBook.imageUrl %>"
        />
        <h3 class="book__related-title"><%= relatedBook.title %></h3>
        <p class="book__related-author"><%= relatedBook.author %></p>
      </div>
      <% }); %>
    </div>
    <% } %>
  </div>
  <div class="book__availability">
    <% if (book.pdf) { %>
    <a href="<%= book.pdf %>" target="_blank" class="btn-pdf btn-availability">
      View PDF
    </a>
    <% if (isAdmin) { %>
    <div class="book__admin-actions">
      <form
        class="book__delete-form"
        action="/book-delete/<%= book.isbn %>"
        method="post"
      >
        <button type="submit" class="btn btn-availability">Delete</button>
      </form>
    </div>
    <% } %> <% } %>
  </div>
</div>
