<div class="catalog">
  <form class="catalog__filter" action="/catalog" method="POST">
    <div class="catalog__search-container">
      <input
        class="catalog__search-input"
        type="text"
        placeholder="Search..."
        name="search"
        value="<%= typeof search === 'undefined' ? '' : search %>"
      />
      <button class="catalog__search-button" type="submit">Search</button>
    </div>
  </form>
  <div class="catalog__book-grid">
    <% books.forEach(book => { %>
    <div class="catalog__book-item">
      <a class="catalog__book-link" href="/book/<%= book.isbn %>">
        <img
          class="catalog__book-image"
          src="<%= book.imageUrl %>"
          width="200px"
        />
        <h3 class="catalog__book-title"><%= book.title %></h3>
        <p class="catalog__book-author"><%= book.author %></p>
        <% if (book.availability) { %>
        <button class="catalog__availability-button" disabled>Available</button>
        <% } else { %>
        <button class="catalog__unavailability-button" disabled>
          Unavailable
        </button>
        <% } %>
      </a>
    </div>
    <% }) %>
  </div>
</div>
