<div class="edit-book">
  <div class="edit-book__form">
    <h2 class="edit-book__title">Edit Book</h2>
    <form
      class="edit-book__form-items"
      action="/edit-book/<%= book.isbn %>"
      method="post"
    >
      <div class="edit-book__form-item">
        <label class="edit-book__label" for="title">Title</label>
        <input
          class="edit-book__input"
          type="text"
          name="title"
          value="<%= book.title %>"
          required
        />
      </div>
      <div class="edit-book__form-item">
        <label class="edit-book__label" for="author">Author</label>
        <input
          class="edit-book__input"
          type="text"
          name="author"
          value="<%= book.author %>"
          required
        />
      </div>
      <div class="edit-book__form-item">
        <label class="edit-book__label" for="isbn">ISBN</label>
        <input
          class="edit-book__input"
          type="text"
          name="isbn"
          value="<%= book.isbn %>"
          readonly
        />
      </div>
      <div class="edit-book__form-item">
        <label class="edit-book__label" for="category">Category</label>
        <input
          class="edit-book__input"
          type="text"
          name="category"
          value="<%= book.category %>"
          required
        />
      </div>
      <div class="edit-book__form-item">
        <label class="edit-book__label" for="imageUrl">Image URL</label>
        <input
          class="edit-book__input"
          type="url"
          name="imageUrl"
          value="<%= book.imageUrl %>"
          required
        />
      </div>
      <div class="edit-book__form-item">
        <label class="edit-book__label" for="description">Description</label>
        <textarea class="edit-book__input" name="description" rows="4" required>
<%= book.description %></textarea
        >
      </div>

      <div class="edit-book__form-item">
        <label class="edit-book__label" for="pdf">PDF URL</label>
        <input
          class="edit-book__input"
          type="url"
          name="pdf"
          value="<%= book.pdf %>"
        />
      </div>

      <div class="edit-book__availability">
        <input
          class="edit-book__availability-checkbox"
          type="checkbox"
          name="availability"
          <%
          if
          (book.availability)
          {
          %
        />
        checked <% } %> />
        <span class="edit-book__availability-text">Availability</span>
      </div>
      <button class="edit-book__submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
